.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: transparent;
}

.buttonInactive {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 0);
}

.buttonActive {
    -fx-effect: dropshadow(three-pass-box, rgba(80, 145, 200, 0.6), 5, 0.0, 0, 0);
}

.slider .track {
    -fx-pref-height:16;
}